.tag_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
}