:root {
    --primary-color: #222831;
    --secondary-color: #303338;
    --primary-text-color: #fff;
    --secondary-text-color: #7C7E80;
    --favorite-color: #FFDE21;
    --gray-color: #E0E0E0;
    --breadcrumb-color: #3fa7ff;
    --breadcrumb-hover-color: #1a6dcc;
}