.list_movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 1rem;
    justify-items: center;
}

.list_movies>* {
    max-width: 320px;
    width: 100%;
}

.list_movies>*:only-child {
    grid-column: 1 / -1;
    margin-left: auto;
    margin-right: auto;
}