.header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

.menu {
    display: none;
    font-size: 48px;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 64px;
}

.nav_list {
    margin-left: 16px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 16px;
}

.nav_list a {
    color: var(--primary-text-color);
    text-decoration: none;
}

@media (max-width: 768px) {
    .menu {
        padding-left: 16px;
        display: block;
        position: absolute;
        color: var(--primary-text-color);
    }

    .picture {
        justify-content: center;
        width: 100%;
    }

    .nav_list {
        display: none;
    }
}