.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1000;
    background: var(--primary-color);
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--primary-text-color);
}

.nav_items {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
    background-color: var(--primary-color);
}

.nav_items li a {
    text-decoration: none;
    color: var(--primary-text-color);
}

@media (max-width: 768px) {
    .sidebar {
        display: block;
    }
}