.poster_item {
    width: 11.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

.poster_picture {
    width: 10rem;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    background: #eee;
    display: block;
    flex-shrink: 0;
}